@charset "UTF-8";
/* Colores */
/* Tipografía */
/* Espaciados */
/* Breakpoints */
.header-nav ul, .header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario, .footer-links {
  display: flex;
  flex-direction: column;
}

.card a, .footer-links a, .header-nav a {
  text-decoration: none;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.header {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem 0 0;
}
.header-top {
  gap: 2rem;
}
.header .logo-header {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
}
.header-titulos h1 {
  font-size: 2rem;
  font-weight: 250;
}
.header-titulos p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* Navegación */
.header-nav {
  width: 100%;
  background-color: #000;
}
.header-nav ul {
  list-style: none;
  justify-content: space-evenly;
  gap: 3rem;
  margin-top: 2rem;
  padding: 0.3rem 0.6rem;
}
.header-nav a {
  font-size: 1rem;
}
.header-nav .activo {
  background: #fff;
  color: #000;
  padding: 0.3rem 0.6rem;
}

.footer {
  width: 100%;
  padding: 1rem 1rem;
  background: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-links {
  gap: 0.3rem;
}
.footer-links a {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}
.footer-logo img {
  width: 7rem;
}
.footer-logolinks img {
  width: 3rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 1rem;
}

.card {
  background: #111;
  padding: 1rem;
  width: 25rem;
}
.card img {
  width: 100%;
  object-fit: cover;
  margin-top: 0.5rem;
}
.card p {
  color: #ddd;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.card a {
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 1rem;
}

/* cards para página de info personal */
.card-personal {
  display: flex;
  justify-content: center;
}

.card-personal img {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin: 2rem;
}

.card-personal h2 {
  margin-top: 2rem;
}

.card-personal p {
  margin-top: 2rem;
  margin-right: 2rem;
}

.formulario {
  align-items: center;
  margin: 2rem;
  gap: 1rem;
}

.formulario-bloque {
  display: block;
  width: 100%;
  margin: 1rem;
  padding: 0.1rem;
}

textarea {
  width: 100%;
  height: 10rem;
  border: 2px solid #111;
  margin-top: 5%;
}
textarea:hover {
  border: 2px solid #fff;
  outline: none;
}

.boton-enviar {
  display: block;
  margin: 1rem;
}

input[type=text] {
  border: 2px solid #111;
}
input[type=text]:hover {
  border: 2px solid #fff;
  outline: none;
}

input[type=mail] {
  border: 2px solid #111;
}
input[type=mail]:hover {
  border: 2px solid #fff;
  outline: none;
}

input[type=submit] {
  width: 72px;
  height: 40px;
  background-color: #818181;
  border: none;
  color: #fff;
}
input[type=submit]:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.hamburger-container {
  width: 100%;
  background: #000;
  display: none;
  padding: 0.5rem 1rem;
  text-align: right;
  position: relative;
  z-index: 20;
}

.hamburger {
  font-size: 1.2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger-container {
    display: block;
  }
  .header-top {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .header-nav ul {
    display: none;
    flex-direction: column;
  }
  .header-nav.active ul {
    display: flex;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    gap: 3rem;
  }
  .card-personal {
    flex-direction: column;
    align-items: center;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
