* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif; /* Tipografía */
  background-color: #000;
  color: #fff;
}

/* ----- HEADER ----- */
.header {
  width: 100%;
  text-align: center;
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: center;
  padding: 2rem 0 0 0;
}

/* -- Bloque superior del header -- */
.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo-header {
  width: 6rem;
  height: 6rem;
}
.header-titulos h1 {
  font-size: 2rem;
  font-weight: 250;
}
.header-titulos p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* -- Menú -- */ 

.header-nav {
  width: 100%;
  background-color: #000;
}

.header-nav ul {
  background-color: #000;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  margin-top: 2rem;
  padding: 0.3rem 0.6rem;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.header-nav .activo {
  background: #fff;
  color: #000;
  padding: 0.3rem 0.6rem;
}


/* ------ MAIN ------ */

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 1rem;
}

.card {
  background: #111;
  padding: 1rem;
  width: 25rem;
}


.card img {
  width: 100%;
  height: 80%;
  background: white;
  object-fit: cover;
  margin-top: 0.5rem;
}

.card p {
  color: #ddd;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.card a {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
}

.card-personal {
  display: flex;
}

.card-personal img {
  width: 20rem;
  height: auto;
  object-fit: cover;
  margin: 2rem;
}

.card-personal h2 {
  margin-top: 2rem;
}

.card-personal p {
  margin-top: 2rem;
  margin-right: 2rem;
}

/* ---- FORMULARIOS ---- */

.formulario {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

.formulario-titulo {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.formulario-bloque {
  display: block;
  width: 80%;
  margin: 2rem;
  padding: .01rem;
}

.boton-enviar {
  display: block;
  margin: 2rem;
}

input[type=text] {
  border: 2px solid #ccc; 
}

input:hover {
  border: 2px solid #fff; 
  outline: none;
}

textarea {
  width: 100%; 
  height: 10rem;
  border: 2px solid #ccc; 
  margin-top: 5%;
}

textarea:hover {
  border: 2px solid #fff; 
  outline: none;
}

input[type=submit] {
  width: 72px;
  height: 40px; 
  border: none;
  background-color: #818181; 
  font-weight: bold;
  color: #fff;
}

input[type=submit]:hover {
  background-color: #fff; 
  cursor: pointer;
  color: #000;
}

/* -------- FOOTER ---------- */

.footer {
  width: 100%;
  padding: 3rem 1rem;
  background: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.footer-links img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.footer-logo img {
  width: 7rem;
  height: auto;

}

/* --- Contenedor para el botón hamburguesa --- */
.hamburger-container {
  width: 100%;
  background: #000;
  display: none; 
  padding: 0.5rem 1rem;
  text-align: right; 
  text-align: right;     
  position: relative;
  z-index: 20;
}

/* --- Botón hamburguesa --- */
.hamburger {
  font-size: 1.2rem; 
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}



/* -----  RESPONSIVE ------ */


@media (max-width: 768px) {

  /* Mostrar el botón hamburguesa */
  .hamburger-container {
    display: block;
  }

  /* ---- Header ---- */

  .header-top {
    flex-direction: column;
    gap: 1rem;
  }

  .logo-header {
    width: 5rem;
    height: 5rem;
  }

  .header-titulos h1 {
    font-size: 1.3rem;
    text-align: center;
  }

  .header-titulos p {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 0.9rem;
  }

  /* Menú se convierte en columna y se esconde */
  .header-nav ul {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  /* Cuando el menú está activo en mobile */
.header-nav.active {
  background: #000;  
  width: 100%;
  padding: 1rem 0;   
}

  .header-nav.active ul {
    display: flex;
  }


  /* ---- MAIN / CARDS ---- */

  .cards {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 3rem;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 22rem;
  }

  .card img {
    height: auto;
  }

  .card-personal {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: .1rem;
    align-items: center;
  }

  .card-personal img {
    height: auto;
    width: 80%;
  }

  .card-personal-texto {
    width: 80%;
    margin-left: .5rem;
  }


  /* ---- FOOTER ---- */

  .footer {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }

  .footer-links {
    align-items: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .footer-logo img {
    width: 5.5rem;
  }
}


