/* Colores */
$color-black: #000;
$color-white: #fff;
$color-dark: #111;
$color-gray: #818181;
$color-light-gray: #ddd;

/* Tipografía */
$font-main: "Helvetica Neue", Arial, sans-serif;

/* Espaciados */
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

/* Breakpoints */
$bp-tablet: 768px;
